*.iml
*.apk
.gradle
/local.properties
.DS_Store
/build
/captures
.externalNativeBuild
/app/google-services.json
gradle.properties
app/app-release.apk
app/libs/
keystore.jks
/screanshots/
/.idea/
/keystore.properties
/pepk.jar
/private_key.pky
/upload_certificate.pemcryp
src/main/java/com/muqdd/iuob2/network/IUOBApi.java
