*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/app/google-services.json
gradle.properties
app/app-release.apk
app/libs/
app/src/androidTest/
app/src/main/java/com/muqdd/iuob2/features/schedule_builder/
app/src/test/
keystore.jks