*.iml
*.apk
.gradle
/local.properties
.DS_Store
/build
/captures
.externalNativeBuild
/app/google-services.json
app/libs/
/screanshots/
/.idea
/keystore.properties
*.pepk
*.jks
*.pem
src/main/java/com/muqdd/iuob2/network/IUOBApi.java
